.custom-amenities-section {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: repeat(7, 1fr);
  @media screen and (max-width: 1320px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 1140px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.custom-list-of-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.property-2.column-sm.property-label.property-grid.row {
  height: auto;
}

.dark-layout {
    .custom-property-icon {
        color: #fff;
    }
}
